<div class="container" style="text-align: center;">
    <h1 style="color: chocolate;">Products</h1>
    <P><b>Choose Whatever u want</b></P>
    <div style="text-align:left; margin-left: 50px;">
      <app-top-deals-list></app-top-deals-list><br>
    </div>
    
    <hr class="mb-3">
    <div class="row">
        <div class="col-md-15">
            <div class="card" style=" width: 20rem;">
              <div class="card-body" > 

              <img class="card-img-top" src= "https://images.unsplash.com/photo-1567581935884-3349723552ca?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60" height="200" width="300" alt="Card image cap">
                  <h5 class="card-title">Mobile</h5>
                  <p class="card-text">Click on explore to see various mobiles </p>
                  <a routerLink="mobile-list" class="btn btn-success">Explore</a>
                </div>
              </div>
              <div class="card" style="width: 20rem;">
                <div class="card-body">
                <img class="card-img-top" src= "https://images.unsplash.com/photo-1511385348-a52b4a160dc2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60"  height="200" width="300" alt="Card image cap">
               
                  <h5 class="card-title">Laptop</h5>
                  <p class="card-text">Click on explore to see various laptops </p>
                  <a routerLink="laptop-list" class="btn btn-success">Explore</a>
                </div>
              </div>
              <div class="card" style="width: 20rem;">
               
                <div class="card-body">
                  <img class="card-img-top" src= "https://www.sony.co.in/image/068585b8e6c13f90656781f937efa24e?fmt=pjpeg&wid=165&bgcolor=FFFFFF&bgc=FFFFFF"  height="223" width="300"  alt="Card image cap">
                  <h5 class="card-title">Television</h5>
                  <p class="card-text">Click on explore to see various LEDs </p>
                  <a routerLink="television-list" class="btn btn-success">Explore</a>
                </div>
              </div>
              <div class="card" style="width:20rem;">

                <div class="card-body">
                  <img class="card-img-top" src= "https://upload.wikimedia.org/wikipedia/commons/thumb/0/08/LGwashingmachine.jpg/220px-LGwashingmachine.jpg"  height="200" width="300"  alt="Card image cap">
                  <h5 class="card-title">Wasing MAchine</h5>
                  <p class="card-text">Click on explore to see various washing Machine </p>
                  <a routerLink="washingMachine-list" class="btn btn-success">Explore</a>
                </div>
              </div>
        </div>
    </div>
</div>