<div class="container">
    <br>
    <h2>Laptops</h2>
    <br>
    <div *ngFor="let laptop of laptops; index as laptopId">

        <h3>
          <a [routerLink]="['/products/laptop-list', laptopId]">
           <img src= "https://images.unsplash.com/photo-1511385348-a52b4a160dc2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60" width="70">
            {{ laptop.name }}
          </a>
        </h3>
    </div><br>
    <button class="button" type="submit" (click) = "goback()" >Go Back</button>
</div>

